<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FiddlerCore4" publicKeyToken="67cb91587178ac5a" culture="neutral"/>
        <codeBase version="4.6.2.0" href="FiddlerCore4.dll" />
        <codeBase version="4.6.20172.35715" href="./dll/FiddlerCore4.dll" />
        <publisherPolicy apply="no" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>
